
#title {
    /* background-color: #395b6c; */
    background-image: linear-gradient(#4f7d94, #082838);
    color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: bold;
}

h4, h5 {
    font-family: 'Montserrat-Black', sans-serif;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
}

p {
    color: #1a1a1a;
}


.caption {
    font-style: italic;
    margin-left: 5%;
    text-align: center;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.download-button{
    margin: 5% 3% 5% 0;
}

#features {
    padding: 2% 10%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 3%;
}

.hr1 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #4f7d94, rgba(0, 0, 0, 0));
}


.icon {
    color: #4f7d94;
    margin-bottom: 1rem;
    font-size: 5em;
}

.icon:hover {
    color: #d4a415;
}

.navbar {                                                                                                                                                                                                                                                                                                                             
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    padding-right: 20%;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    color:#fff;
    font-size: 1.2rem;
    font-weight: light;
}

.nav-link:hover {
    color:#d4a415;
}

.other-image {
    width: 100%;
    border-radius: 10%;
    margin: 5%;
    
}

.pub-btn {
    background-color:#4f7d94;
}

.pub-btn:hover {
    background-color: #d4a415;
}

.pub-card {
    border-color: #4f7d94;
    border-width: 4px;
    border-style: solid;
}

.pub-link:link {
    color:#4f7d94;
}

.pub-link:visited {
    color:#4f7d94;
}

.pub-link:hover {
    color:#d4a415;
}

.title-image {
    width: 100%;
    border-radius: 50%;
}


#footer {
    text-align: center;
    padding: 1% 15%;
    background-color: #FFF;
}

.footer-icon {
    margin: 20px 10px;
}

@media (max-width: 991.5px) {
    #title {
        text-align: center;
    }

    h1 {
        font-size: 2rem;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}

